<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div style="float: right">
  <%= link_to("Logout", session_path(current_user), method: :delete, class: "btn btn-primary") if signed_in? %>
</div>

<%= yield %>

</body>
</html>
